$color-accent: #E41616;
$color-muted: #DCDCDC;
$color-text-muted: #9D9D9D;
$color-primary-text: #000000;
$color-secondary-text: #535353;
$color-background: #ffffff;
$font-family: "Inter", sans-serif;
$icon-size: 1.5rem;
$icon-size-mobile: 1rem;

@mixin btn-states {
    &:hover {
        opacity: 0.9;
    }

    &:active {
        scale: 0.95;
    }
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    color: $color-primary-text;
    background-color: $color-background;
    font-family: $font-family;
}

.trending-products {
    max-width: 1778px;
    padding: 4rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.selection-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;

    &__label {
        line-height: 1.5;
        color: $color-secondary-text;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 38px;
        line-height: 1.27;
        font-weight: 500;
        letter-spacing: 1.7px;
        margin-bottom: 4rem;
    }

    &__list {
        &:hover {
            .selection-panel__button {
                color: $color-text-muted;
            }
        }

        .selection-panel__button:hover {
            color: currentColor;
            border-bottom: 1px solid currentColor;
        }
    }

    &__button {
        width: 100%;
        text-align: left;
        font-size: 1.75rem;
        line-height: 1.21;
        font-weight: 500;
        letter-spacing: 1.2px;
        padding: 1.5rem;
        border: none;
        border-bottom: 1px solid $color-muted;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        transition: color 0.4s, padding-right 0.4s;

        &--active {
            transition: padding-right 0.4s;
            padding-right: 34px;
        }
    }

    &__copyright {
        font-size: 21px;
        transform: translate(1px, -5px);
        display: inline-block;
    }
}

.icon-svg {
    width: $icon-size;
    height: $icon-size;
}

.product {
    display: none;
    position: relative;

    &--visible {
        display: block;
    }

    &__image-wrapper {
 

        picture {
            display: flex;
        }


    }

    &__image {
        border-radius: 1rem;
        aspect-ratio: 1 / 1;
        max-width: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    &__badge-list {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.25rem;
    }

    &__badge-item {
        font-size: 14px;
        line-height: 1.28;
        font-weight: 500;
        border-radius: 0.5rem;
        border: 1px solid $color-muted;
        background-color: $color-background;
        padding: 0.44rem 1rem;


        &--sale {
            border-color: $color-accent;
            background-color: $color-accent;
            color: $color-background;
        }
    }

    &__button-group {
        display: grid;
        row-gap: 0.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__button {
        padding: 0.6rem 0.7rem;
        border: 1px solid $color-muted;
        background-color: $color-background;
        border-radius: 0.75rem;
        cursor: pointer;
        transition: color 0.4s;
        @include btn-states;
    }

    &__button-group {
        &:hover {
            .product__button {
                color: $color-text-muted;
            }
        }

        .product__button:hover {
            color: currentColor;
        }
    }



    &__description {
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
        border-radius: 1rem;
        background-color: $color-background;
        position: absolute;
        bottom: 14.4px;
        left: 1rem;
        right: 1rem;
        padding: 1.5rem 2rem;
    }

    &__title {
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.1px;
    }

    &__price-wrapper {
        display: flex;
        column-gap: 0.5rem;
    }

    &__price {
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: $color-accent
    }

    &__price--old {
        text-decoration: line-through;
        color: $color-text-muted;
    }
}


.modal {
    position: fixed;
    inset: 0;
    background: #000000e6;
    padding: 1rem;

    &__dialog {
        width: 100%;
        max-width: 450px;
        border: 1px solid $color-secondary-text;
        background-color: $color-background;
        border-radius: 0.75rem;
        margin: auto;
        padding: 3rem;
        position: relative;
    }

    &__title {
        font-size: 1.75rem;
        margin-bottom: 1.125rem;
    }



    &__close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        @include btn-states;
    }
}



@media only screen and (max-width: 1199px) {
    .selection-panel {
        padding: 0 4rem 0 0;
    }

    .selection-panel__button {
        padding: 1.5rem 0;
    }

    .product__description {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.75rem 1rem;
    }
}

@media only screen and (max-width: 991px) {
    .trending-products {
        max-width: 1778px;
        padding: 1.5rem;
    }

    .selection-panel {
        padding: 0 1.5rem 0 0;

        &__title {
            font-size: 2rem;
            margin-bottom: 18px;
        }

        &__button {
            font-size: 26px;
        }
    }

    .icon-svg {
        width: $icon-size-mobile;
        height: $icon-size-mobile;
    }

    .product__button {
        border-radius: 0.5rem;
        padding: 9.5px 11px;
    }
}

@media only screen and (max-width: 767px) {
    .trending-products {
        grid-template-columns: 1fr;
        padding: 4rem;
        max-width: 564px;
        margin: 0 auto;
    }

    .selection-panel {
        padding: 2rem 1rem 1.5rem;

        &__title {
            font-size: 1.75rem;
            letter-spacing: 0.9px;
            margin-bottom: 1.5rem;
        }

        &__products {
            padding: 0 1rem;
        }

        &__button {
            font-size: 22px;
            letter-spacing: 0.9px;
            padding: 1.5rem 0;

            &--active {
                padding-right: 10px;
            }

            .icon-svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        &__copyright {
            font-size: 16px;

        }
    }

    .product {
        &__badge-list {
            top: 0.5rem;
            left: 0.5rem;
        }

        &__button-group {
            top: 0.5rem;
            right: 0.5rem;
            row-gap: 0.25rem;
        }

        &__description {
            bottom: 6px;
            left: 0.5rem;
            right: 0.5rem;
        }
    }
}

.svg-sprite,
.modal {
    display: none;
}

.modal--show {
    display: flex;
}

.overflow-hidden {
    overflow: hidden;
}

::selection {
    color: $color-secondary-text;
    background-color: $color-muted;
}