$color-accent: #E41616;
$color-muted: #DCDCDC;
$color-text-muted: #9D9D9D;
$color-primary-text: #000000;
$color-secondary-text: #535353;
$color-background: #ffffff;
$font-family: "Inter", sans-serif;
$icon-size: 1.5rem;
$icon-size-mobile: 1rem;

@mixin btn-states {
    &:hover {
        opacity: 0.9;
    }

    &:active {
        scale: 0.95;
    }
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    color: $color-primary-text;
    background-color: $color-background;
    font-family: $font-family;
}

.trending-products {
    max-width: 111.125rem;
    padding: 4rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;

    &__selection-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 4rem;
    }

    &__label {
        line-height: 1.5;
        color: $color-secondary-text;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 2.375rem;
        line-height: 1.27;
        font-weight: 500;
        margin-bottom: 4rem;
    }
}

.selection-panel {
    &__list {
        &:hover {
            .selection-panel__button {
                color: $color-text-muted;
            }
        }

        .selection-panel__button:hover {
            color: currentColor;
            border-bottom: 1px solid currentColor;
        }
    }

    &__button {
        width: 100%;
        text-align: left;
        font-size: 1.75rem;
        line-height: 1.21;
        font-weight: 500;
        padding: 1.5rem;
        border: none;
        border-bottom: 1px solid $color-muted;
        background-color: transparent;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        transition: color 0.4s, padding-right 0.4s;

        &--active {
            transition: padding-right 0.4s;
            padding-right: 2.125rem;
        }
    }
}

.icon-svg {
    width: $icon-size;
    height: $icon-size;
}

.product {
    display: none;
    position: relative;

    &--visible {
        display: block;
    }

    &__image {
        height: auto;
        max-width: 100%;
        border-radius: 1rem;
    }

    &__badge-list {
        position: absolute;
        top: 1rem;
        left: 1rem;
        display: grid;
        row-gap: 0.25rem;
    }

    &__badge-item {
        font-size: .875rem;
        line-height: 1.28;
        font-weight: 500;
        border-radius: 0.5rem;
        border: 1px solid $color-muted;
        background-color: $color-background;
        padding: 0.5rem 1rem;

        &--sale {
            border-color: $color-accent;
            background-color: $color-accent;
            color: $color-background;
        }
    }

    &__button-group {
        display: grid;
        row-gap: 0.5rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__button {
        padding: 0.75rem;
        border: 1px solid $color-muted;
        background-color: $color-background;
        border-radius: 0.75rem;
        cursor: pointer;
        transition: color 0.4s;
        @include btn-states;
    }

    &__button-group {
        &:hover {
            .product__button {
                color: $color-text-muted;
            }
        }

        .product__button:hover {
            color: currentColor;
        }
    }

    &__image-wrapper {
        display: block;

        picture {
            display: flex;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
        border-radius: 1rem;
        background-color: $color-background;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        right: 1rem;
        padding: 1.5rem 2rem;
    }

    &__title {
        line-height: 1.5;
        font-weight: 500;
    }

    &__price-wrapper {
        display: flex;
        column-gap: 0.5rem;
    }

    &__price {
        line-height: 1.5;
        color: $color-accent
    }

    &__price--old {
        text-decoration: line-through;
        color: $color-text-muted;
    }
}


.modal {
    position: fixed;
    inset: 0;
    background: #000000e6;
    padding: 1rem;

    &__dialog {
        width: 100%;
        max-width: 28.125rem;
        border: 1px solid $color-secondary-text;
        background-color: $color-background;
        border-radius: 0.75rem;
        margin: auto;
        padding: 3rem;
        position: relative;
    }

    &__title {
        font-size: 1.75rem;
        margin-bottom: 1.125rem;
    }

    &--show {
        display: flex;
    }
    
    &__button-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        @include btn-states;
    }
}



@media only screen and (max-width: 1199px) {
    .trending-products__selection-panel {
        padding: 0 4rem 0 0;
    }

    .product__description {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.75rem 1rem;
    }
}

@media only screen and (max-width: 991px) {
    .trending-products {
        max-width: 111.125rem;
        padding: 1.5rem;

        &__selection-panel {
            padding: 0 1.5rem 0 0;
        }

        &__title {
            font-size: 2rem;
            margin-bottom: 1.125rem;
        }

        &__button {
            font-size: 1.625rem;
        }
    }

    .icon-svg {
        width: $icon-size-mobile;
        height: $icon-size-mobile;
    }

    .product__button {
        border-radius: 0.5rem;
        padding: 0.5938rem 0.6875rem;
    }
}

@media only screen and (max-width: 767px) {
    .trending-products {
        grid-template-columns: 1fr;
        padding: 4rem;
        max-width: 35.25rem;
        margin: 0 auto;

        &__selection-panel {
            padding: 2rem 1rem 1.5rem;
        }

        &__title {
            font-size: 1.75rem;
            margin-bottom: 1.5rem;
        }

        &__products {
            padding: 0 1rem;
        }
    }

    .selection-panel__button {
        font-size: 1.375rem;
        padding: 1.5rem 0;

        &--active {
            padding-right: 0.625rem;
        }
    }

    .product {
        &__badge-list {
            top: 0.5rem;
            left: 0.5rem;
        }

        &__button-group {
            top: 0.5rem;
            right: 0.5rem;
        }

        &__description {
            bottom: 0.375rem;
            left: 0.5rem;
            right: 0.5rem;
        }
    }
}

.svg-sprite,
.modal {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

::selection {
    color: $color-secondary-text;
    background-color: $color-muted;
}