$color-accent: #E41616;
$color-muted: #DCDCDC;
$color-text-muted: #9D9D9D;
$color-primary-text: #000000;
$color-secondary-text: #535353;
$color-background: #ffffff;
$font-family: "Inter", sans-serif;
$icon-size: 24px;
$icon-size-mobile: 16px;


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    color: $color-primary-text;
    background-color: $color-background;
    font-family: $font-family;
}



.trending-products {
    max-width: 1778px;
    padding: 64px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;

    &__selection-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 64px;
    }

    &__label {
        line-height: 1.5;
        color: $color-secondary-text;
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 38px;
        line-height: 1.27;
        font-weight: 500;
        margin-bottom: 64px;
    }
}

.selection-panel__list {
    &:hover {
        .selection-panel__button {
            color: $color-text-muted;
        }
    }

    .selection-panel__button:hover {
        color: currentColor;
        border-bottom: 1px solid currentColor;
    }
}

.selection-panel__button {
    width: 100%;
    text-align: left;
    font-size: 28px;
    line-height: 1.21;
    font-weight: 500;
    padding: 24px;
    border: none;
    border-bottom: 1px solid $color-muted;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    transition: 0.4s color, 0.4s padding-right;
    &--active {
        transition: 0.4s padding-right;
        padding-right: 34px;
    }
}

.icon-svg {
    width: $icon-size;
    height: $icon-size;
}

.product {
    display: none;
    position: relative;

    &--visible {
        display: block;
    }



    &__image {
        height: auto;
        max-width: 100%;
    }

    &__badge-list {
        position: absolute;
        top: 16px;
        left: 16px;
        display: grid;
        row-gap: 4px;
    }

    &__badge-item {
        font-size: 14px;
        line-height: 1.28;
        font-weight: 500;
        border-radius: 8px;
        border: 1px solid $color-muted;
        background-color: $color-background;
        padding: 8px 16px;
        &--sale {
            border-color: $color-accent;
            background-color: $color-accent;
            color: $color-background;
        }
    }

    &__button-group {
        display: grid;
        row-gap: 8px;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &__button {
        padding: 12px;
        border: 1px solid $color-muted;
        background-color: $color-background;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.4s color;

        &:hover {
            opacity: 0.9;
        }

        &:active {
            scale: 0.95;
        }
    }

    &__button-group {
        &:hover {
            .product__button {
                color: $color-text-muted;
            }
        }

        .product__button:hover {
            color: currentColor;
        }
    }

    &__image-wrapper {
        display: block;

        picture {
            display: flex;
        }
    }

    &__description {
        display: flex;
        justify-content: space-between;
        column-gap: 16px;
        border-radius: 16px;
        background-color: $color-background;
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
        padding: 24px 32px;
    }

    &__title {
        line-height: 1.5;
        font-weight: 500;
    }

    &__price-wrapper {
        display: flex;
        column-gap: 8px;
    }

    &__price {
        line-height: 1.5;
        color: $color-accent
    }

    &__price--old {
        text-decoration: line-through;
        color: $color-text-muted;
    }
}

@media only screen and (max-width: 1199px) {
    .trending-products__selection-panel {
        padding: 0 64px 0 0;
    }

    .product__description {
        flex-direction: column;
        gap: 8px;
        padding: 12px 16px;
    }
}

@media only screen and (max-width: 991px) {
    .trending-products {
        max-width: 1778px;
        padding: 24px;
    }

    .trending-products__selection-panel {
        padding: 0 24px 0 0;
    }

    .trending-products__title {
        font-size: 32px;
        margin-bottom: 18px;
    }

    .selection-panel__button {
        font-size: 26px;
    }

    .icon-svg {
        width: $icon-size-mobile;
        height: $icon-size-mobile;
    }

    .product__button {
        border-radius: 8px;
        padding: 9.5px 11px;
    }


}

@media only screen and (max-width: 767px) {
    .trending-products {
        grid-template-columns: 1fr;
        padding: 64px;
        max-width: 564px;
        margin: 0 auto;
    }

    .trending-products__selection-panel {
        padding: 32px 16px 24px;

    }

    .trending-products__title {
        font-size: 28px;
        margin-bottom: 24px;
    }

    .selection-panel__button {
        font-size: 22px;
        padding: 24px 0;
    }

    .trending-products__products {
        padding: 0 16px;
    }

    .product__badge-list {
        top: 8px;
        left: 8px;
    }

    .product__button-group {
        top: 8px;
        right: 8px;
    }

    .product__description {
        bottom: 6px;
        left: 8px;
        right: 8px;
    }
}

.svg-sprite {
    display: none;
}

::selection {
    color: $color-secondary-text;
    background-color: $color-muted;
}